{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5/css/all.min.css' %}">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Page Interdite</title>
</head>
<body>
    <div class="container bg-danger" style="height: 80vh; position: relative; width: 80vw; margin-top: 5%;">
        <div class="row">
            <div class="col-12 text-center" style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%; color: aliceblue; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 5rem;">Page Interdite</div>
        </div>
    </div>
</body>
</html>